@import "tailwindcss";

@layer base {

    :root {
        --main-color-nav: #1e1e1e;
        --main-color-section: #121212;
        --hover-button: #34263b;
        --color-icon: #9b59b6;


    }

    .white {
        --change-color-nav: #ffffff;
        --change-color-section: #f9f9f9;
    }

    .btn {
        border-radius: 5%;
        padding: 5px;
        width: 50px;
        background-color: #9b59b6;
        color: white;
        cursor: pointer;


    }

    .card-box {
        width: 220px;
        height: 290px;
        background-color: aliceblue;
        border-radius: 15px;
        transition: 0.4s;
        box-shadow: 0 10px 24px -14px rgba(0,0,0,.35);
        cursor: pointer;

        >img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;

        }

        >.title-img {
            padding: 5px 10px;

            >h3 {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .card-box:hover{
         transform: translateY(-3px);
    }

    .hiddenSpan {
        display: none;
    }

    /* سایه ملایم فقط سمت راست */
    .navShadow {
        box-shadow: 12px 0 24px -12px rgba(0, 0, 0, .45);
    }

    .searchShadow {
        box-shadow: 2px 2px 100px 2px rgba(0, 0, 0, .45);
        border: none !important;

    }

    .searchShadow {
        box-shadow: 2px 2px 100px 2px rgba(0, 0, 0, .45);
        border: none;
    }

    .searchShadow:focus {
        outline: 2px solid var(--color-icon);
        outline-offset: 2px;
    }

    .ph-black::placeholder {
        color: #000;
        opacity: 1;
    }

    .ph-white::placeholder {
        color: #fff;
        opacity: 1;
    }

    .CardShadow{
      box-shadow: 2px 2px 100px 2px rgba(0, 0, 0, .45);

    }

}